$river-bed      : #48525c;
$grey           : #878787;

$color-text-dark    : $river-bed;
$color-text-base    : $grey;

$br: 10px;

$stack-sans-serif : Helvetica, Arial, sans-serif;
$stack-helvetica  : 'Helvetica Neue', $stack-sans-serif;
$stack-abolition  : 'Abolition Regular', $stack-sans-serif;
